body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /*background: linear-gradient(to right bottom, #CE93D8, #8E24AA, #8E24AA, #CE93D8) fixed;*/
  background: url("./assets/background-employees.jpg") no-repeat fixed center;
  background-size: cover;

}
